/* Setting global margin to zero first */
body {
    margin: 0;
    background-color: #101010;
    color: #f7f7f7;
    font-family: 'Roboto Mono', monospace;
    
}

h1 {
    color: #b0f9f3;
    margin: 0;
}

h2 {
    color: #b0f9f3;
    margin: 0;
    text-decoration: none;
}

h3 {
    color: #f7f7f7;
    margin: 0;
    padding-left: 35px;
    text-decoration: none;
}


/* Position fixed here if we want to have it stay while scrolling */
/* z index set to 1000 to bring it to the front */
.navBar {
    background-color: #1a1c27;
    display: flex;
    color: #3abbac;
    position: fixed;
    width: 100%;
    padding: 15px;
    z-index: 1000;
    grid-gap: 5px;
    align-items: center;
    
}

.navWrap {
    display: flex;
    flex: 1 100px;
    justify-content: flex-end;
    margin-right: 32px;
    grid-gap: 10px;
}

.wrapper {
    position: relative;
    top: 60px;
    padding-left: 15px;
}

.tradingView {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 25px;
    justify-content: center;
    padding: 20px 0px;

}

.tradingViewItem1 {

}