.navBar {
    background-color: rgba(255, 255, 255, 0.178);
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.navLeft {
    margin-left: 36px;
    display: flex;
    gap: 26px;
    color:white; 
}

.navRight {
    margin-right: 36px;
    display: flex;
    gap: 26px;
    color:white; 
}

.navRight:visited {
    margin-right: 36px;
    display: flex;
    gap: 26px;
    text-decoration: none; 
    color:white; 

}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:white; 
    font-size: 20px;
    
}

