.navBar {
    background-color: white;
    color: #486499;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
    position: relative;
    margin-bottom: 100px;
}

.noDecoration {
    text-decoration: none;
}

.middleHeader {
    margin-top: 0px;
}

.navLeft {

    display: flex;
    gap: 26px;
    color:#486499; 
}

.navRight {

    display: flex;
    gap: 66px;
    color:#486499; 
}

.navRight:visited {
    margin-right: 36px;
    display: flex;
    gap: 26px;
    text-decoration: none; 
    color:#486499; 
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:#486499; 

    
}

